.updates-wrap {
  background: $white;
  margin: 0 auto em(20px);
  
  @include media('>phone', '<desktop') {
    padding: em(25px);
  }

  @include media('>tablet') {
    padding: em(60px);
  }
}

.article-focus {
  background: $purple image-url('layout/articles/focus.png') 50% 50% no-repeat;
  background-size: cover;
  color: $white;
  display: block;
  padding: em(40px);
  text-decoration: none;

  &:hover {
    background-image: linear-gradient($turquoise 1%, rgba($purple, .29)),
                      image-url('layout/articles/focus.png');
    background-position: 0 0, 50% 50%;
  }

  h5 {
    border-left: 3px solid $turquoise;
    color: $white;
    font-size: em(14px);
    font-weight: normal;
    line-height: 1.4;
    margin: em(10px) 0 0;
    padding: em(59px) 0 em(59px) em(22px);
  }
}

@include media('<=phone') {
  .article-focus-date {
    display: block;
    margin-bottom: em(16px);
  }
}

.article-date {
  display: inline-block;
  min-width: 50px;
  text-align: center;

  .article-date-number {
    background: $turquoise;
    color: $white;
    font-family: $font-merriweather;
    font-size: em(25px);
    padding: em(7px, 25px) em(7px, 25px) em(11px, 25px);
    width: 100%;
  }

  .article-date-month {
    background: $light-purple;
    color: $white;
    font-size: em(12px);
    padding: em(2px, 12px) 0;
    text-transform: uppercase;
    width: 100%;
  }
}

.article-summary {
  @extend %clearfix;
  @include links($offset-black, $offset-black, $turquoise, $offset-black);
  background: $offset-white;
  display: block;
  margin: 0 0 em(7px);

  .article-title {
    display: block;
    font-size: em(13px);
    padding: em(18px, 13px) em(56px, 13px) em(18px, 13px) em(18px, 13px);
    text-decoration: none;
  }
}
