.related-services {
  background: $highlight-purple;
  padding: em(20px) em(15px);
  text-align: center;

  @include media('>phone', '<desktop') {
    padding: em(25px) em(10px) em(45px);
  }

  @include media('>tablet') {
    padding: em(60px) em(43px);
  }

  h5 {
    color: $white;
    font-family: $font-droid-serif;
    font-size: em(16px);
    font-weight: 400;
    margin: em(33px, 16px) 0 em(40px, 16px);
  }
}

.related-services-list {
  list-style: none;

  li {
    display: inline-block;
  }
}

.related-service-link {
  @include border-radius(200px);
  background: $purple;
  border: 2px solid $white;
  color: $white;
  display: inline-block;
  font-family: $font-droid-serif;
  letter-spacing: 1px;
  margin: 0 0 em(14px);
  padding: em(9px);
  text-align: center;
  text-decoration: none;

  @include media('>tablet') {
    margin: 0 em(9px);
    padding: em(9px) em(23px);
  }

  @include media('>phone', '<desktop') {
    margin: 0 em(3px);
  }

  &:hover {
    background: $turquoise;
  }
}
