<div class="case-studies content-navigation-content hide" id="case-studies">
  <div class="row">
    <div class="medium-6 columns">
      <%= render partial: 'case_studies/case_study_focus', object: @presented_service_case_studies[0], as: :case_study_presenter if @presented_service_case_studies[0].present? %>
    </div>

    <div class="medium-6 columns">
      <%= render partial: 'case_studies/case_study_summary', collection: @presented_service_case_studies[1..-1], as: :case_study_presenter if @presented_service_case_studies[1..-1].present? %>

      <%= link_to 'View all', '#', class: 'view-all right' %>
    </div>
  </div>
</div>
