<div class="medium-6 columns  match-height">
  <div class="specialist-areas standard-content-box">
    <h4>
      Specialist Areas Of Expertise
    </h4>

    <%= service_presenter.specialisms %>
  </div>
</div>
