<%= render 'optimadmin/shared/header/main_title', title: 'Edit Office' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: offices_path, title: 'Office' %>

  <%= render 'form' %>
</div>