<div class="medium-4 download columns">
  <div class="row large-collapse">
    <div class="medium-5 small-4 columns">
      <%= download_presenter.linked_image('show') %>
    </div>

    <div class="medium-7 small-8 columns">
      <%= link_to '#', title: 'Download' do %>
        <div class="additional-guides-download-title">
          <%= download_presenter.title %>
        </div>

        <%= download_presenter.download_button('inline') %>
      <% end %>
    </div>
</div>
</div>
