<div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= related_service_presenter.id %>">
  <div class="large-1 hide-for-medium-down columns" data-equalizer-watch="module-list">
    <span class="drag-helper"></span>
  </div>

  <div class="large-10 small-12 columns" data-equalizer-watch="module-list">
    <%= related_service_presenter.name %>
  </div>

  <div class="large-1 hide-for-medium-down text-center columns last" data-equalizer-watch="module-list">
    <%= related_service_presenter.delete_link %>
  </div>
</div>