<%= render 'optimadmin/shared/header/main_title', title: 'Edit Tour Entry' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: tour_entries_path, title: 'Tour Entry' %>

  <%= render 'form', tour_entry: @tour_entry %>
</div>