<%= render 'optimadmin/shared/header/main_title', title: 'Edit Download Category' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: download_categories_path, title: 'Download Category' %>

  <%= render 'form' %>
</div>