<%= render 'optimadmin/shared/header/main_title', title: 'Edit Video Category' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: video_categories_path, title: 'Video Category' %>

  <%= render 'form' %>
</div>