<%= render 'optimadmin/shared/header/main_title', title: 'Edit Department' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: departments_path, title: 'Department' %>

  <%= render 'form' %>
</div>