<div class="medium-4 columns <%= cycle('sectors', 'personal-services', 'business-services') %>">
  <div class="hero-banner-service-list-title">
    <%= audience_presenter.name %>
  </div>

  <ul class="hero-banner-service-list-services">
    <% # FIXME %>
    <%= render partial: 'services/hero_atoz_service', collection: BaseCollectionPresenter.new(collection: audience_presenter.services.where("LOWER(services.name) LIKE ?", "#{@letter}%").uniq, view_template: self, presenter: ServicePresenter), as: :service_presenter %>
  </ul>
</div>
