<div class="medium-4 columns <%= cycle('sectors', 'personal-services', 'business-services') %>">
  <div class="hero-banner-service-list-title">
    <%= audience_presenter.name %>
  </div>

  <ul class="hero-banner-service-list-services">
    <%= render partial: 'services/hero_atoz_service', collection: BaseCollectionPresenter.new(collection: audience_presenter.services_for_letter(@letter), view_template: self, presenter: ServicePresenter), as: :service_presenter if audience_presenter.services.present? %>
  </ul>
</div>
