html {
  font-size: 14px;
}

body {
  color: $offset-black;
  font-family: $font-open-sans;
  font-size: 14px;
}

.disable-overflow {
  overflow: hidden;
}

@include media('<=phone') {
  .small-text-center {
    text-align: center;
  }
}
