<div class="error-banner text-center">
  <h1 class="error-banner-title">
    Forbidden
  </h1>
</div>

<div class="text-center">
  <p>You do not have permission to access this page.</p>

  <p>If you think this is incorrect, please get in touch.</p>
</div>
