<%= render 'optimadmin/shared/header/main_title', title: 'Edit Download' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: downloads_path, title: 'Download' %>

  <%= render 'form' %>
</div>