<div class="case-study-summary">
  <%= link_to case_study_presenter.link, title: case_study_presenter.title do %>
    <%= case_study_presenter.date_block('right') %>
  <% end %>

  <%= case_study_presenter.linked_title(class: 'case-study-title') %>
</div>
