<div class="frequently-asked-question">
  <div class="question-mark" aria-hidden="true">
    Q
  </div>

  <%= frequently_asked_question_presenter.linked_question %>
</div>

<div class="frequently-asked-question-answer frequently-asked-question-answer-<%= frequently_asked_question_presenter.id %> hide">
  <%= frequently_asked_question_presenter.answer %>
</div>
