<%= render 'optimadmin/shared/header/main_title', title: 'New Team Member Role' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: team_member_roles_path, title: 'Team Member Role' %>

  <%= render 'form' %>
</div>