.breadcrumbs {
  @extend %clearfix;
  @include links($light-purple, $light-purple, $light-purple, $light-purple);
  line-height: 1.1;
  list-style: none;

  @include media('<=phone') {
    font-size: em(10px);
    margin: 0 0 em(14px, 10px);
  }

  @include media('>phone') {
    font-size: em(12px);
    padding: em(4px, 12px);
    margin: 0 0 em(26px, 12px);
  }


  li {
    float: left;

    &:after {
      color: $light-purple;
      content: '/';
      padding: 0 em(2px);
    }

    &:last-of-type:after {
      content: '';
      padding: 0;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
