.callback-header {
  background: $purple;
  color: $white;
  font-family: $font-merriweather;
  font-size: em(26px);
  padding: em(25px, 26px) em(58px, 26px);

  .telephone-icon {
    margin-right: em(13px);
  }
}

.callback-form {
  background: $offset-white;
  padding: em(19px) em(30px);

  h3 {
    font-family: $font-droid-serif;
    font-size: em(18px);
    font-weight: $droid-serif-light;
    line-height: 1.6;
  }
}
