.hero-banner {
  background-attachment: fixed, fixed;
  background-image: image-url('components/hero-banner/mask.png'),
                    image-url('components/hero-banner/photo.jpg');
  background-position: 0 0, 50% -36%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  color: $white;
  padding: 0 0 em(100px);
  text-align: center;
}

.hero-banner-text {
  display: block;
  font-family: $font-merriweather;
  font-size: em(21px);
  font-weight: 400;
  line-height: 1.16;
  margin: 0 auto em(23px, 21px);
  padding: em(85px, 21px) 0 0;

  @include media('>phone', '<desktop') {
    font-size: em(36px);
    margin: 0 auto em(40px, 36px);
    padding: em(85px, 36px) 0 0;
  }

  @include media('>=desktop') {
    font-size: em(49px);
    margin: 0 auto em(40px, 49px);
    padding: em(125px, 49px) 0 0;
  }
}

.hero-banner-tagline {
  font-family: $font-varela;
  font-size: em(18px);
  font-weight: $varela-bold;
  line-height: 1.5;
  margin: em(10px, 18px) 0 em(16px, 18px);
}

.hero-banner-search {
  margin-bottom: em(50px);

  form {
    position: relative;
  }

  input[type='text'] {
    @include border-radius(10px);
    border: 1px solid $inactive-offset-grey;
    color: $offset-black;
    display: inline-block;
    height: 38px;
    line-height: 1.4;
    margin: 0 0 em(10px);
    max-width: 700px;
    vertical-align: middle;
    width: 90%;

    @include media('>phone') {
      padding: em(30px) em(65px) em(30px) em(30px);
    }
  }

  input[type='submit'] {
    @include border-radius(10px);
    background: $purple image-url('components/icons/search.png') no-repeat center;
    border: 0;
    height: 38px;
    outline: 0;
    position: absolute;
    right: 10px;
    text-indent: -9999px;
    top: 0;
    width: 47px;

    @include media('>phone') {
      height: 49px;
      left: -56px;
      position: relative;
      top: -4px;
    }
  }
}

.hero-banner-expertise {
  width: 80%;
  margin: 0 auto;

  @include media('>phone', '<desktop') {
    padding: 0 em(15px);
  }

  @include media('>phone') {
    width: auto;
  }
}

@include media('>phone') {
  .hero-banner-expertise .columns {
    min-height: 600px;
  }
}

.hero-banner-expertise-title a {
  border-bottom: 1px solid rgba($white, .5);
  color: $white;
  display: block;
  font-family: $font-droid-serif;
  font-size: em(20px);
  margin: em(20px, 20px) 0 em(30px, 20px);
  text-decoration: none;
}

.hero-banner-expertise-list {
  list-style: none;
  text-align: center;
}

.hero-banner-expertise-link {
  border-bottom: 1px solid transparent;
  color: $white;
  display: block;
  font-family: $font-open-sans;
  font-size: em(13px);
  margin-bottom: em(10px, 13px);
  text-decoration: none;

  &:hover {
    border-bottom-color: $white;
    color: rgba($white, .5);
  }
}

.hero-banner-expertise {
  .sectors {
    background: $deep-purple;
    padding: 0 em(10px);
  }

  .personal-services {
    background: $light-purple;
    padding: 0 em(10px);
  }

  .business-services {
    background: $turquoise;
    padding: 0 em(10px);
  }
}

.hero-banner-letter-list {
  display: inline-block;

  @include media('>phone') {
    background-color: $offset-white;
  }

  li {
    display: inline-block;
  }

  a {
    background-color: $offset-white;
    color: $offset-black;
    cursor: pointer;
    display: block;
    padding: em(4px) em(8px);
    text-align: left;
    text-decoration: none;

    @include media('>phone') {
      padding: em(9px);
    }

    &:hover {
      background: $turquoise;
      color: $white;
    }

    &.active {
      background: $purple;
      color: $white;
    }

    &.inactive {
      background: $inactive-grey;
      color: $white;
    }
  }
}



.hero-banner-service-list-title {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-family: $font-droid-serif;
  font-size: em(15px);
  font-weight: $droid-serif-bold;
  margin: em(10px, 15px) 0;
}

.hero-banner-service-list {
  background: $white;
  border-top: 7px solid $purple;
  padding: em(20px);

  @include media('>phone') {
    padding: em(70px);
  }

  .sectors {
    color: $purple;
  }

  .personal-services {
    color: $light-purple;
  }

  .business-services {
    color: $turquoise;
  }
}

.hero-banner-service-list-services {
  @include links($offset-black, $offset-black, $offset-black, $black);
  list-style: none;

  a {
    border-bottom: 2px solid transparent;
    display: block;
    margin: 0 0 em(9px);
    text-decoration: none;

    &:hover {
      border-bottom: 2px solid $turquoise;
    }
  }
}
