<%= render 'optimadmin/shared/header/main_title', title: 'Edit Case Study Category' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: case_study_categories_path, title: 'Case Study Category' %>

  <%= render 'form' %>
</div>